
<div class="container-login">
<form class="form-login">
        <div class="title-login">
        <p>Login</p>
    </div>
  <div class="mb-3">
    <label for="input-name-login" class="label-email">User Name</label>
    <input id="input-name-login" class="form-control" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="input-password-login" class="label-password">Password</label>
    <input type="password" id="input-password-login" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>


<div class="container-signup">
<form class="form-signup">
    <div class="title-signup">
        <p>Signup</p>
    </div>
  <div class="mb-3">
    <label for="input-name-signup" class="label-email">User Name</label>
    <input id="input-name-signup" class="form-control" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="input-password-signup" class="label-password">Password</label>
    <input type="password" id="input-password-signup" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Signup</button>
</form>
</div>
<script src="javascript/login.js"></script>